.App {
  text-align: center;

}
.Calculator {
  justify-content: center;
  width: 350px;
  height: 420px;
  margin: auto;
  border-radius: 5px;
  border: solid rgb(246, 243, 0);
  background: linear-gradient(to right, rgb(54, 20, 162) , rgb(166, 85, 53));
}

.input {
  height: 60px;
  width: 300px;
  margin: 20px 20px;
  border-radius: 3px;
  text-align: right;
  font-size: 40px;
  background-color: rgb(198, 168, 101);
  border-color: rgb(198, 168, 101)
}

.Button {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px ;
    grid-template-rows: 60px 60px 60px 60px 60px;
    height: 300px;
    width: 320px;
    margin: auto;
}
.ButtonArea{
  border: 1px solid #272932;
  border-radius: 3px;
  background-color: rgb(198, 168, 101);
  cursor: pointer;
  font-size: 25px;
  font-family: sans-serif;

}
.ButtonArea:hover { background-color:  rgb(164, 122, 0) }

.ButtonArea:active {
  background-color:  rgb(198, 168, 101);
  transform: translateY(1px);
}
.ButtonArea:focus {outline:0;}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
